<?xml version="1.0"?>
<launch>

    <arg name="name" default="box"/>
    
    <arg name="dim_x" default="0.1"/>
    <arg name="dim_y" default="0.1"/>
    <arg name="dim_z" default="0.1"/>
    <arg name="mass" default="0.1"/>
    <arg name="pose_x" default="0" />
    <arg name="pose_y" default="0" />
    <arg name="pose_z" default="0" />
    <arg name="table_model_name" default=""/>
    <arg name="kp" default="1000000"/>
    <arg name="kd" default="1"/>
    <arg name="markers" default="false"/>
    <arg name="red" default="1"/>
    <arg name="green" default="0"/>
    <arg name="blue" default="0"/>
    <arg name="alfa" default="1"/>
    <arg name="gazebo_color" default="Gazebo/ZincYellow"/>

    <arg name="pub_box_data" default="false"/>
    
    <arg name="xacroBox" value="$(find yiannis_centauro_pytools)/urdf/box.urdf.xacro
           box_name:=$(arg name)
           mass:=$(arg mass) size_x:=$(arg dim_x) size_y:=$(arg dim_y) size_z:=$(arg dim_z) 
           r:=$(arg red) g:=$(arg green) b:=$(arg blue) a:=$(arg alfa) gazebo_color:=$(arg gazebo_color)
           pose_x:=0 pose_y:=0 pose_z:=0
           kp:=$(arg kp) kd:=$(arg kd) markers:=$(arg markers)" />
    <param name="gazebo/$(arg name)_description" command="$(find xacro)/xacro $(arg xacroBox)" />

    <node if="$(eval table_model_name == '')" name="urdf_spawner_$(arg name)_nowait" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -model $(arg name) -param gazebo/$(arg name)_description" />   
    <!--     wait option to be sure it will be spawned after (so. above) the table     -->
    <node unless="$(eval table_model_name == '')" name="urdf_spawner_$(arg name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -x $(arg pose_x) -y $(arg pose_y) -z $(arg pose_z) -model $(arg name) -param gazebo/$(arg name)_description -wait $(arg table_model_name)" />
    <!--           launch-prefix="bash -c 'sleep 2; $0 $@' "/>  --> <!-- now waiting for the table with -wait option -->

    
    <group if="$(arg pub_box_data)" >
        <node name="$(arg name)_pose_gazebo_to_tf" pkg="iit_gazebo_worlds_pkg" type="pose_gazebo_to_tf.py" output="screen"
          args="--reference world --models $(arg name) --models_link $(arg name)_link --ignore_roslaunch_added_param"/>
    </group>
    
</launch>
